body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

#messageBox {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: fit-content;
  display: none;
  font-weight: bold;
}

